# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.venv/
venv/

# Notebooks
.ipynb_checkpoints/

# Artifacts
models/*
!models/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/raw/kaggle/
data/raw/resumes_kaggle_mapped.csv
data/raw/job_descriptions_kaggle_mapped.csv
data/raw/job_description_generated_*.txt

# OS
.DS_Store

# Tooling
.vscode/
.idea/

# Local secrets
.env
.env.*
!.env.example
